<!-- toast -->
<div class="wily_notification_overlay">
  <!-- spacer -->
  <div class="col size_3 min_w0"></div>
  <!-- container -->
  <div class="col size_1 min_w280 pad_right5" style="max-width:400px;">
    <div class="row_block width100">
      <!-- success item -->
      <!-- TODO: set color depending on type (replace bg_green) -->
      <div class="wily_notification bg_green card_shadow">
        <div class="col mar_5"><i class="fas fa-check-circle text xlg"></i></div>
        <div class="col size_1 mar_5"><div class="text sm paragraph">This is a success message!<br/>You did it!</div></div>
        <div class="col mar_y5">
          <!-- TODO: close toast -->
          <button class="access btn overlay_alt1 hov_bg square_22px brad_3">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <!-- EXAMPLES OF OTHER TYPES -->
      <!-- warning item -->
      <div class="row v_center bg_orange card_shadow mar_15 pad_y5 pad_x10 brad_3" style="pointer-events: initial;">
        <div class="col mar_5"><i class="fas fa-exclamation-circle text xlg"></i></div>
        <div class="col size_1 mar_5"><div class="text sm paragraph">This is a warning message!<br/>He's right behind you!</div></div>
        <div class="col mar_y5">
          <button class="access btn overlay_alt1 hov_bg square_22px brad_3">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- error item -->
      <div class="row v_center bg_red card_shadow mar_15 pad_y5 pad_x10 brad_3" style="pointer-events: initial;">
        <div class="col mar_5"><i class="fas fa-times-circle text xlg"></i></div>
        <div class="col size_1 mar_5"><div class="text sm paragraph">This is an error message!<br/>Uh oh!</div></div>
        <div class="col mar_y5">
          <button class="access btn overlay_alt1 hov_bg square_22px brad_3">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- info item -->
      <div class="row v_center bg_purple card_shadow mar_15 pad_y5 pad_x10 brad_3" style="pointer-events: initial;">
        <div class="col mar_5"><i class="fas fa-info-circle text xlg"></i></div>
        <div class="col size_1 mar_5"><div class="text sm paragraph">This is an informational message!<br/>Wow!</div></div>
        <div class="col mar_y5">
          <button class="access btn overlay_alt1 hov_bg square_22px brad_3">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
