<div class="wily_richtext_container page_container_color brad_3">
  <!-- editor toolbar -->
  <div class="wily_richtext_toolbar overlay" #toolbar>
    <span class="ql-formats">
      <select aria-label="Text Style" class="ql-header">
        <option value="1" aria-label="Heading">Heading</option>
        <option value="2" aria-label="Subheading">Subheading</option>
        <option selected aria-label="Normal">Normal</option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold"></button>
      <button class="ql-italic" aria-label="Italic"></button>
      <button class="ql-underline" aria-label="Underline"></button>
    </span>
<!--    <span class="ql-formats">-->
<!--      <select aria-label="Color" class="ql-color"></select>-->
<!--      <select aria-label="Background" class="ql-background"></select>-->
<!--    </span>-->
    <span class="ql-formats">
      <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
      <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
      <select aria-label="Alignment" class="ql-align">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-link" aria-label="Insert Link"></button>
      <button class="ql-image" aria-label="Insert Image"></button>
      <button class="ql-code-block" aria-label="Insert Code Block"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean" aria-label="Remove Styles"></button>
    </span>
  </div>

  <div class="wily_richtext_editor overlay_alt2" #editor [ngStyle]="{height: height}"></div>
</div>

<!--<p-editor #editor-->
<!--          [style]="{width: '100%', height: height, fontFamily: 'Montserrat, sans-serif'}"-->
<!--          [readonly]="readonly"-->
<!--          [placeholder]="placeholder"-->
<!--          (onTextChange)="textChanged.emit($event)">-->
<!--  <p-header>-->

<!--  </p-header>-->
<!--</p-editor>-->
