/************** Wily Styles ***************/
.wily_richtext_container {
  overflow:hidden;
}

.wily_richtext_toolbar {
  padding:5px 3px;
  display:flex;
  flex-wrap:wrap;
  background-color:inherit;
}

.wily_richtext_editor {
  border-top-width:0;
}

/********** Quill Style Overrides *************/

/* TOOLBAR STYLES */
.ql-formats {
  margin:0 5px;
  display:flex;
  align-items:center;
  color:inherit;
  background-color:inherit;
  position:relative;
}

.ql-formats button {
  border:none;
  cursor:pointer;
  background-color:rgba(128,128,128,0.15);
  border-radius:3px;
  height:26px;
  min-height:26px;
  width:26px;
  min-width:26px;
  font-size:14px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:inherit;
}
.ql-formats button svg {
  opacity:0.8;
}
.ql-formats button:not(:hover) {
  background-color:transparent;
}

.ql-header, .ql-align {
  padding:3px;
  font-size:13px;
  border-radius:3px;
  border:none;
  background-color:inherit;
  font-weight:600;
}
.ql-header:not(:focus), .ql-align:not(:focus) {
  background-color:rgba(128,128,128,0.15);
}
.ql-header:not(:hover), .ql-align:not(:hover) {
  background-color:inherit;
}

.ql-header-placeholder {
  position:absolute;
  font-size:13px;
  left:8px;
  font-weight:600;
  opacity:0.5;
  user-select:none;
  z-index:2;
}

.ql-align-placeholder {
  position:absolute;
  font-size:13px;
  left:60px;
  font-weight:600;
  opacity:0.5;
  user-select:none;
  z-index:2;
}

.ql-header .h1 {font-size:18px; font-weight:500; }
.ql-header .h2 {font-size:15px; font-weight:400; }

/* EDITOR STYLES */
.ql-editor {
  line-height:1.5;
  overflow-x:hidden;
  font-size: 14px;
}
.ql-editor strong {font-weight:500;}
.ql-editor h1 {font-size:18px; font-weight:500; line-height:1.5; margin-bottom:0.5em;}
.ql-editor h2 {font-size:15px; font-weight:400; line-height:1.5; margin-bottom:0.5em;}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
  padding-left:0;
}
/* placeholder text override to fix dark theme */
.ql-editor.ql-blank::before {
  color: inherit;
  opacity:0.5;
  font-style:normal;
}
