<div class="wily_richtext_container page_container_color brad_3">
  <!-- editor toolbar -->
  <div class="wily_richtext_toolbar overlay_alt2" #toolbar>
    <span class="ql-formats">
      <select aria-label="Text Style" class="ql-header">
        <option class="h1" value="1" aria-label="Heading">Heading</option>
        <option class="h2" value="2" aria-label="Subheading">Subheading</option>
        <option selected aria-label="Normal">Normal</option>
      </select>
    </span>
    <div class="overlay_alt2 vr mar_x5"></div>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold"><i class="fas fa-bold fa-fw"></i></button>
      <button class="ql-italic" aria-label="Italic"><i class="fas fa-italic fa-fw"></i></button>
      <button class="ql-underline" aria-label="Underline"><i class="fas fa-underline fa-fw"></i></button>
    </span>
    <div class="overlay_alt2 vr mar_x5"></div>
<!--    <span class="ql-formats">-->
<!--      <select aria-label="Color" class="ql-color"></select>-->
<!--      <select aria-label="Background" class="ql-background"></select>-->
<!--    </span>-->
    <span class="ql-formats">
      <button class="ql-list" value="ordered" aria-label="Ordered List"><i class="fas fa-list-ol fa-fw"></i></button>
      <button class="ql-list" value="bullet" aria-label="Unordered List"><i class="fas fa-list-ul fa-fw"></i></button>
      <select aria-label="Alignment" class="ql-align">
        <option selected>Left</option>
        <option value="center">Center</option>
        <option value="right">Right</option>
        <option value="justify">Justify</option>
      </select>
    </span>
    <div class="overlay_alt2 vr mar_x5"></div>
    <span class="ql-formats">
      <button class="ql-link" aria-label="Insert Link"><i class="fas fa-link fa-fw"></i></button>
<!--      <button class="ql-image" aria-label="Insert Image"></button>-->
<!--      <button class="ql-code-block" aria-label="Insert Code Block"></button>-->
    </span>
    <div class="overlay_alt2 vr mar_x5"></div>
    <span class="ql-formats">
      <button class="ql-clean" aria-label="Remove Styles"><i class="fas fa-remove-format fa-fw"></i></button>
    </span>
  </div>

  <div class="wily_richtext_editor overlay_alt2" #editor [ngStyle]="{height: height}"></div>
</div>

<!--<p-editor #editor-->
<!--          [style]="{width: '100%', height: height, fontFamily: 'Montserrat, sans-serif'}"-->
<!--          [readonly]="readonly"-->
<!--          [placeholder]="placeholder"-->
<!--          (onTextChange)="textChanged.emit($event)">-->
<!--  <p-header>-->

<!--  </p-header>-->
<!--</p-editor>-->
