<div #dropdown class="wily_dropdown" [style.filter]="disabled ? 'brightness(.95)' : ''"
     style="cursor:default;"
     [ngClass]="classList ? classList : 'input md overlay_alt2 page_container_color'">
  <!-- maybe switch this to a div? -->
  <button #dropdownButton
          role="combobox"
          aria-haspopup="listbox"
          (click)="openDropdown($event)"
          (focus)="setSelectionIndex()"
          [id]="multiSelectId"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel"
          [attr.aria-expanded]="opened"
          class="access page_container_color wily_dropdown_input">
    <ng-container *ngIf="hasSelections$ | async else placeholderTemplate">
      <ng-container *ngIf="dataContextMap$ | async as dataContextMap">
        <ng-container *ngIf="!!template else noCustomTemplate">
          <ng-container *ngFor="let value of _internalValue | async">
            <ng-container *ngTemplateOutlet="template; context: dataContextMap['' + value]"></ng-container>
          </ng-container>
        </ng-container>
        <ng-template #noCustomTemplate>
          <div *ngFor="let value of _internalValue | async">
            {{dataContextMap['' + value]['$implicit'] || dataContextMap['' + value]['label']}}
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #placeholderTemplate>
      <div class="wily_dropdown_placeholder">{{placeholder}}</div>
    </ng-template>
  </button>
  <div class="wily_dropdown_caret">
    <i class="fas fa-caret-down"></i>
  </div>
</div>

<div [style.display]="opened ? '' : 'none'"
     [attr.aria-hidden]="opened"
     class="wily_dropdown_overlay">
  <div #dropdownList [@openClose]="opened ? 'open' : 'closed'" class="position_absolute">
    <div class="wily_dropdown_options page_container_color">
      <ng-container *ngIf="_options | async as options">
        <div class="wily_dropdown_list" role="listbox" tabindex="-1" [attr.aria-label]="ariaLabel">
          <!-- CUSTOM TEMPLATE -->
          <ng-container *ngIf="!!template else defaultOptionTemplate">
            <ng-container *ngIf="selectionValueMap$ | async as selectionValueMap">
              <ng-container *ngFor="let option of options; index as i">
                <!-- OPTION GROUP -->
                <ng-container *ngIf="!!option.groupLabel && !!option.options else nonGroupOption">
                  <div class="wily_dropdown_heading" aria-hidden="true">{{option.groupLabel}}</div>
                  <ng-container *ngFor="let groupOption of option.options; index as j">
                    <button #dropdownOption
                            (click)="onDropdownOptionSelect(groupOption.value, groupOption.disabled)"
                            (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i + j)"
                            (mousemove)="onDropdownOptionMouseMove(dropdownOption, i + j)"
                            [id]="multiSelectId + '-' + groupOption.value"
                            [ngClass]="{ 'unselected': !selectionValueMap['' + groupOption.value] }"
                            [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                            [attr.data-value]="groupOption.value"
                            [disabled]="groupOption.disabled"
                            class="wily_dropdown_option overlay_alt1" role="option" tabindex="0">
                      <div class="wily_multiselect_checkbox overlay_alt2"
                           [ngClass]="selectionValueMap['' + groupOption.value] ? 'bg_blue' : 'unselected'"
                           aria-hidden="true">
                        <div *ngIf="selectionValueMap['' + groupOption.value]"><i class="fas fa-check"></i></div>
                      </div>
                      <ng-container *ngTemplateOutlet="template; context: groupOption.dataContext"></ng-container>
                    </button>
                  </ng-container>
                </ng-container>
                <!-- SINGULAR OPTION -->
                <ng-template #nonGroupOption>
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(option.value, option.disabled)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i)"
                          [id]="multiSelectId + '-' + option.value"
                          [attr.aria-selected]="(_internalValue | async) === option.value"
                          [attr.data-value]="option.value"
                          [disabled]="option.disabled"
                          [ngClass]="{ 'unselected': !selectionValueMap['' + option.value] }"
                          class="wily_dropdown_option overlay_alt1" role="option" tabindex="0">
                    <div class="wily_multiselect_checkbox overlay_alt2"
                         [ngClass]="selectionValueMap['' + option.value] ? 'bg_blue' : 'unselected'"
                         aria-hidden="true">
                      <div *ngIf="selectionValueMap['' + option.value]"><i class="fas fa-check"></i></div>
                    </div>
                    <ng-container *ngTemplateOutlet="template; context: option.dataContext"></ng-container>
                  </button>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
          <!-- NO CUSTOM TEMPLATE -->
          <ng-template #defaultOptionTemplate>
            <ng-container *ngIf="selectionValueMap$ | async as selectionValueMap">
              <ng-container *ngFor="let option of options; index as i">
                <!-- OPTION GROUP -->
                <ng-container *ngIf="!!option.groupLabel && !!option.options else nonGroupOption">
                  <div class="wily_dropdown_heading" aria-hidden="true">{{option.groupLabel}}</div>
                  <ng-container *ngFor="let groupOption of option.options; index as j">
                    <button #dropdownOption
                            (click)="onDropdownOptionSelect(groupOption.value, groupOption.disabled)"
                            (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i + j)"
                            (mousemove)="onDropdownOptionMouseMove(dropdownOption, i + j)"
                            [id]="multiSelectId + '-' + groupOption.value"
                            [attr.aria-label]="groupOption.label"
                            [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                            [attr.data-value]="groupOption.value"
                            [disabled]="groupOption.disabled"
                            [ngClass]="{ 'unselected': !selectionValueMap['' + groupOption.value] }"
                            class="wily_dropdown_option overlay_alt1"
                            role="option" tabindex="0">
                      <div class="wily_multiselect_checkbox overlay_alt2"
                           [ngClass]="selectionValueMap['' + groupOption.value] ? 'bg_blue' : 'unselected'"
                           aria-hidden="true">
                        <div *ngIf="selectionValueMap['' + groupOption.value]"><i class="fas fa-check"></i></div>
                      </div>
                      {{groupOption.label}}
                    </button>
                  </ng-container>
                </ng-container>
                <!-- SINGULAR OPTION -->
                <ng-template #nonGroupOption>
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(option.value, option.disabled)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i)"
                          [id]="multiSelectId + '-' + option.value"
                          [attr.aria-selected]="(_internalValue | async) === option.value"
                          [attr.data-value]="option.value"
                          [disabled]="option.disabled"
                          [ngClass]="{ 'unselected': !selectionValueMap['' + option.value] }"
                          class="wily_dropdown_option overlay_alt1"
                          role="option" tabindex="0">
                    <div class="wily_multiselect_checkbox overlay_alt2 unselected"
                         [ngClass]="selectionValueMap['' + option.value] ? 'bg_blue' : 'unselected'"
                         aria-hidden="true">
                      <div *ngIf="selectionValueMap['' + option.value]"><i class="fas fa-check"></i></div>
                    </div>
                    {{option.label}}
                  </button>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-content select="template"></ng-content>
