<div #multiSelect class="wily_multiselect" [style.filter]="disabled ? 'brightness(.95)' : ''"
     style="cursor:default;"
     [ngClass]="classList ? classList : 'input md overlay_alt2 page_container_color'">
  <!-- maybe switch this to a div? -->
  <button #multiSelectButton
          role="combobox"
          aria-haspopup="listbox"
          (click)="openMultiSelect($event)"
          (keyup.escape)="onEscapeKeyUp($event)"
          [id]="multiSelectId"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel"
          [attr.aria-expanded]="opened"
          [attr.data-dialog-close-override]="true"
          class="access page_container_color wily_multiselect_input">
    <ng-container *ngIf="selectionCount$ | async as selectionCount else placeholderTemplate">
      <div class="pill brad_3 bg_grey" style="margin-right:1em; font-size:0.75em; padding:0.3em 0.65em;">
        {{selectionCount}}
      </div>
      <ng-container *ngIf="dataContextMap$ | async as dataContextMap">
        <div style="display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
          <ng-container *ngIf="!!template else noCustomTemplate">
            <div class="wily_multiselect_selection" *ngFor="let value of _internalValue | async">
              <div class="v_center">
                <ng-container *ngTemplateOutlet="template; context: dataContextMap['' + value]"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noCustomTemplate>
            <div class="wily_multiselect_selection" *ngFor="let value of _internalValue | async">
              {{dataContextMap['' + value]['$implicit'] || dataContextMap['' + value]['label']}}
            </div>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #placeholderTemplate>
      <div class="wily_multiselect_placeholder">{{placeholder}}</div>
    </ng-template>
  </button>
  <div class="wily_multiselect_caret">
    <i class="fas fa-caret-down"></i>
  </div>
</div>

<div [style.display]="render ? '' : 'none'"
     [attr.aria-hidden]="render"
     class="wily_multiselect_overlay">
  <div #multiSelectList
       [@openClose]="opened ? 'open' : 'close'"
       (@openClose.start)="onAnimationStart($event)"
       (@openClose.done)="onAnimationDone($event)"
       class="position_absolute">
    <div class="wily_multiselect_options page_container_color">
      <ng-container *ngIf="_options | async as options">
        <div class="wily_multiselect_list" role="listbox" tabindex="-1" [attr.aria-label]="ariaLabel">
          <!-- CUSTOM TEMPLATE -->
          <ng-container *ngIf="!!template else defaultOptionTemplate">
            <ng-container *ngIf="selectionValueMap$ | async as selectionValueMap">
              <ng-container *ngFor="let option of options; index as i">
                <!-- OPTION GROUP -->
                <ng-container *ngIf="!!option['groupLabel'] && !!option['options'] else nonGroupOption">
                  <div class="wily_multiselect_heading" aria-hidden="true">{{option['groupLabel']}}</div>
                  <ng-container *ngFor="let groupOption of option['options']; index as j">
                    <button #multiSelectOption
                            (click)="onMultiSelectOptionSelect(groupOption.value, groupOption.disabled)"
                            (mouseenter)="onMultiSelectOptionMouseEnter(multiSelectOption, i + j)"
                            (mousemove)="onMultiSelectOptionMouseMove(multiSelectOption, i + j)"
                            (keyup.escape)="onEscapeKeyUp($event)"
                            [id]="multiSelectId + '-' + groupOption.value"
                            [ngClass]="{ 'unselected': !selectionValueMap['' + groupOption.value] }"
                            [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                            [attr.data-value]="groupOption.value"
                            [attr.data-dialog-close-override]="true"
                            [disabled]="groupOption.disabled"
                            class="wily_multiselect_option" role="option" tabindex="0">
                      <div class="wily_multiselect_checkbox overlay_alt2"
                           [ngClass]="selectionValueMap['' + groupOption.value] ? 'bg_blue' : 'unselected'"
                           aria-hidden="true">
                        <div *ngIf="selectionValueMap['' + groupOption.value]"><i class="fas fa-check"></i></div>
                      </div>
                      <ng-container *ngTemplateOutlet="template; context: groupOption.dataContext"></ng-container>
                    </button>
                  </ng-container>
                </ng-container>
                <!-- SINGULAR OPTION -->
                <ng-template #nonGroupOption>
                  <button #multiSelectOption
                          (click)="onMultiSelectOptionSelect(option['value'], option['disabled'])"
                          (mouseenter)="onMultiSelectOptionMouseEnter(multiSelectOption, i)"
                          (mousemove)="onMultiSelectOptionMouseMove(multiSelectOption, i)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="multiSelectId + '-' + option['value']"
                          [attr.aria-selected]="(_internalValue | async) === option['value']"
                          [attr.data-value]="option['value']"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="option['disabled']"
                          [ngClass]="{ 'unselected': !selectionValueMap['' + option['value']] }"
                          class="wily_multiselect_option" role="option" tabindex="0">
                    <div class="wily_multiselect_checkbox overlay_alt2"
                         [ngClass]="selectionValueMap['' + option['value']] ? 'bg_blue' : 'unselected'"
                         aria-hidden="true">
                      <div *ngIf="selectionValueMap['' + option['value']]"><i class="fas fa-check"></i></div>
                    </div>
                    <ng-container *ngTemplateOutlet="template; context: option['dataContext']"></ng-container>
                  </button>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
          <!-- NO CUSTOM TEMPLATE -->
          <ng-template #defaultOptionTemplate>
            <ng-container *ngIf="selectionValueMap$ | async as selectionValueMap">
              <ng-container *ngFor="let option of options; index as i">
                <!-- OPTION GROUP -->
                <ng-container *ngIf="!!option['groupLabel'] && !!option['options'] else nonGroupOption">
                  <div class="wily_multiselect_heading" aria-hidden="true">{{option['groupLabel']}}</div>
                  <ng-container *ngFor="let groupOption of option['options']; index as j">
                    <button #multiSelectOption
                            (click)="onMultiSelectOptionSelect(groupOption.value, groupOption.disabled)"
                            (mouseenter)="onMultiSelectOptionMouseEnter(multiSelectOption, i + j)"
                            (mousemove)="onMultiSelectOptionMouseMove(multiSelectOption, i + j)"
                            (keyup.escape)="onEscapeKeyUp($event)"
                            [id]="multiSelectId + '-' + groupOption.value"
                            [attr.aria-label]="groupOption.label"
                            [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                            [attr.data-value]="groupOption.value"
                            [attr.data-dialog-close-override]="true"
                            [disabled]="groupOption.disabled"
                            [ngClass]="{ 'unselected': !selectionValueMap['' + groupOption.value] }"
                            class="wily_multiselect_option"
                            role="option" tabindex="0">
                      <div class="wily_multiselect_checkbox overlay_alt2"
                           [ngClass]="selectionValueMap['' + groupOption.value] ? 'bg_blue' : 'unselected'"
                           aria-hidden="true">
                        <div *ngIf="selectionValueMap['' + groupOption.value]"><i class="fas fa-check"></i></div>
                      </div>
                      {{groupOption.label}}
                    </button>
                  </ng-container>
                </ng-container>
                <!-- SINGULAR OPTION -->
                <ng-template #nonGroupOption>
                  <button #multiSelectOption
                          (click)="onMultiSelectOptionSelect(option['value'], option['disabled'])"
                          (mouseenter)="onMultiSelectOptionMouseEnter(multiSelectOption, i)"
                          (mousemove)="onMultiSelectOptionMouseMove(multiSelectOption, i)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="multiSelectId + '-' + option['value']"
                          [attr.aria-selected]="(_internalValue | async) === option['value']"
                          [attr.data-value]="option['value']"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="option['disabled']"
                          [ngClass]="{ 'unselected': !selectionValueMap['' + option['value']] }"
                          class="wily_multiselect_option"
                          role="option" tabindex="0">
                    <div class="wily_multiselect_checkbox overlay_alt2"
                         [ngClass]="selectionValueMap['' + option['value']] ? 'bg_blue' : 'unselected'"
                         aria-hidden="true">
                      <div *ngIf="selectionValueMap['' + option['value']]"><i class="fas fa-check"></i></div>
                    </div>
                    {{option['label']}}
                  </button>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-content select="template"></ng-content>
