/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/gh/gditfc/wily-styles@v1.0.0/dist/wily-styles.css';
@import 'theme.css';

/*.access{*/
/*  outline:rgba(38,184,239,0.0) 1px solid;*/
/*  transition:all 0.2s ease-in-out;*/
/*  text-decoration: none;*/
/*}*/
/*.access:focus{*/
/*  outline:rgba(38,184,239,1.0) 1px solid;*/
/*  outline-offset: 5px;*/
/*  position:relative;*/
/*  z-index:1;*/
/*}*/

/* Experimental new access class */
.access:focus {
  position:relative;
  overflow:visible;
}
.access:focus::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: inherit;
  background-color: transparent;
  border:2px solid #65a3c7;
}

/* EXPERIMENTS WITH PRIMENG REPLACEMENTS */
.tooltip_container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip_container .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #2f2f2f;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px;
  font-size:12px;
  line-height:1.5;

  /* Position the tooltip */
  position: absolute;
  z-index: 4;
  /*top: 100%;*/
  /*left: 50%;*/
  /*margin-left: -60px;*/
}

/* top tooltip */
.tooltip_container .tooltip.top {
  width: 120px;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip_container .tooltip.top::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* bottom tooltip */
.tooltip_container .tooltip.bottom {
  width: 120px;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip_container .tooltip.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
/* left tooltip */
.tooltip_container .tooltip.left {
  top: 50%;
  right: calc(100% + 10px);
}
.tooltip_container .tooltip.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
/* right tooltip */
.tooltip_container .tooltip.right {
  top: 50%;
  /*margin-top:-10px;*/
  left: calc(100% + 10px);
}
.tooltip_container .tooltip.right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip_container:hover .tooltip {
  visibility: visible;
}


/* overlay panel */
.overlaypanel_container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.overlaypanel_container .overlaypanel {
  visibility: hidden;
  width: 400px; /* set as an input, default auto */
  height:300px; /* set as an input, default auto */
  display:flex;
  flex-shrink:1;
  border-radius: 5px;
  padding: 10px;
  font-size:12px;
  line-height:1.5;

  /* Position the tooltip */
  position: absolute;
  z-index: 4;
  /*top: 100%;*/
  /*left: 50%;*/
  /*margin-left: -60px;*/

  top: calc(100% + 10px);
  left: 0;
}

.overlaypanel_container:hover .overlaypanel {
  visibility: visible;
}



/* custom select styles */
.wily_select {
  position: relative;
}
.wily_select_input {
  padding: 0.5em 1.5em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor:pointer;
  font-size:inherit;
}
.wily_select_input::-ms-expand {
  display: none;
}
.wily_select_caret {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 20;
  background: transparent;
}
.wily_select_options {
  border-radius: 3px;
  line-height: 1.5;
  overflow:hidden;
  margin: 0;
  margin-top:5px;
  margin-left:1px;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 4;
  position: absolute;
  width: calc(100% - 2px);
}
.wily_select_options li {
  font-size:14px;
  padding: 8px 12px;
}

.all_hide {
  display:none;
}



/* custom date picker styles */
.wily_datepicker {
  position: relative;
}
.wily_datepicker_input {
  padding: 0.5em 1.5em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor:pointer;
  padding-left:3em !important;
  background-image: linear-gradient(to right, #999999, #999999);
  background-position: 2.25em 50%;
  background-size: 1px 1em;
  background-repeat: no-repeat;
  font-size:inherit;
}
.wily_datepicker_input::-ms-expand {
  display: none;
}
.wily_datepicker_icon {
  position: absolute;
  left:0.6em;
  top:50%;
  margin-top:-0.5em;
  opacity:0.8;
  font-size:inherit;
  z-index:2;
}
.wily_datepicker_caret {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 20;
  background: transparent;
}
.wily_datepicker_options {
  border-radius: 3px;
  line-height: 1.5;
  overflow:hidden;
  margin: 0;
  margin-top:5px;
  margin-left:1px;
  padding: 5px;
  list-style-type: none;
  font-weight: normal;
  z-index: 4;
  position: absolute;
  width: 300px;
}
.wily_datepicker_weekday {
  font-size:12px;
  font-weight:700;
  min-width:30px;
  height:26px;
  display:flex;
  flex:1;
  align-items:center;
  justify-content:center;
  opacity:0.5;
  user-select:none;
}
.wily_datepicker_day {
  font-size:12px;
  font-weight:600;
  min-width:30px;
  height:28px;
  padding:0;
  display:flex;
  flex:1;
  align-items:center;
  justify-content:center;
  border-radius:3px;
  cursor:pointer;
  user-select:none;
}
.wily_datepicker_day.disabled {
  cursor:default;
  opacity:0.3;
  border:1px solid transparent;
}