<div class="v_center">
  <!-- range slider -->
  <input #slider
         type="range"
         [ngModel]="_value"
         [min]="_min" [max]="_max" [step]="_step"
         [attr.aria-label]="'Select a value' + (ariaLabel ? ' - ' + ariaLabel : '')"
         (input)="handleInput(+slider.value)"
         class="access mar_right15" style="width:100%;" />
  <!-- slider value input -->
  <input #sliderInput
         type="number"
         [ngModel]="_value"
         [min]="_min" [max]="_max" [step]="_step"
         [attr.aria-label]="'Enter a value' + (ariaLabel ? ' - ' + ariaLabel : '')"
         (input)="handleInput(+sliderInput.value)"
         (blur)="handleInput(+sliderInput.value)"
         (paste)="preventPaste($event)"
         class="access input sm" style="width:auto;" />
  <div class="text md" style="margin-left:10px;">{{unit}}</div>
</div>
