
<wily-dialog [title]="help ? help.name : ''" [object]="help" #dialog>

  <div style="height:100%;" *ngIf="help">
    <!-- LOADER -->
    <div *ngIf="status === EndpointStatus.LOADING" class="center_center" style="text-align:center;height: 100%;">
      <div>
        <img src="https://styles.transcend.csra.io/v2.0.2/assets/loading.gif" alt="Loading..." />
      </div>
    </div>
    <!-- END LOADER -->

    <!-- HELP CONTENT -->
    <div *ngIf="status === EndpointStatus.SUCCESS">
      <div class="row rounded space_between v_center">
        <div *ngIf="help.description">
          <div class="wac_help_description">{{help.description}}</div>
        </div>
        <button class="btn sm t_ok" (click)="editHelpSystem()" aria-label="Edit" *ngIf="canEdit">
          EDIT
        </button>
      </div>


      <div class="ql-editor wac_help_text" [innerHTML]="help.helpText"></div>
    </div>
    <!-- END HELP CONTENT -->

    <!-- UNAVAILABLE -->
    <div *ngIf="status === EndpointStatus.ERROR" class="center_center" style="text-align:center;height: 100%;">
      <div>
        <div class="wac_help_notavail">This help topic is currently unavailable, please check back later.</div>
        <div class="center_center">
          <button class="btn md t_ok" *ngIf="canEdit" (click)="editHelpSystem()" aria-label="Edit">Click here to create this help topic</button>
        </div>
      </div>
    </div>
    <!-- END UNAVAILABLE -->

  </div>

</wily-dialog>

<div class="action" (click)="showHelp()" role="button" aria-label="Show Help">
  <i class="fas fa-question-circle help_widget" [style.fontSize]="fontSize"></i>
</div>

