<div class="row overlay_alt2 pad_10 brad_3">
  <button
    id="bold"
    class="btn overlay_alt2 access pad_5 mar_right5"
    (click)="editor.chain().focus().toggleBold().run()"
    [ngClass]="{ 'text-white bg-black': this.editor.isActive('bold') }"
  >
    <i class="fas fa-bold"></i>
  </button>
  <button
    id="italic"
    class="btn overlay_alt2 access pad_5 mar_right5"
    (click)="editor.chain().focus().toggleItalic().run()"
    [ngClass]="{ 'text-white bg-black': this.editor.isActive('italic') }"
  >
    <i class="fas fa-italic"></i>
  </button>
  <!--
  <button
    id="underline"
    class="btn overlay_alt2 access pad_5 mar_right5"
    (click)="editor.chain().focus().toggleUnderline().run()"
    [ngClass]="{ 'text-white bg-black': this.editor.isActive('underline') }"
  >
    <i class="fas fa-underline"></i>
  </button>
  -->
</div>
<div class="overlay_alt2 pad_10 text sm mar_top5 brad_3">
  <tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>
</div>

