<div class="v_center" style="align-items:stretch;" *ngIf="render">
  <input *ngIf="colorPickerSupported else colorSwatch"
         type="color"
         class="access wcp_color mar_right5"
         [ngClass]="classList ? classList : 'input md overlay_alt2 page_container_color'"
         [ngModel]="_value"
         [attr.aria-label]="ariaLabel + ' , choose a color'"
         (ngModelChange)="updateModel($event)" />
  <ng-template #colorSwatch>
    <div [style.background-color]="_value"></div>
  </ng-template>
  <input #colorInput
         type="text"
         [ngModel]="_value"
         class="access wcp_input"
         [ngClass]="classList ? classList : 'input md overlay_alt2 page_container_color'"
         [attr.aria-label]="ariaLabel + ' , enter hex color'"
         (paste)="handlePaste($event)"
         (keydown)="handleKeyDown($event)"
         (ngModelChange)="updateModel($event)"
         (blur)="handleBlur(colorInput.value)" />
</div>
