:host {
  width:100%;
}

.wcp_container {
  width:100%;
  min-width:150px;
  position: relative;
}

.wcp_caret {
  position:absolute;
  left:calc(3.5em - 1em);
  top:50%; margin-top:-0.5em;
  pointer-events:none;
  opacity:0.8;
}

.wcp_divider {
  position:absolute;
  left:3.5em;
  top:0;
  width:1px;
  height:100%;
}

.wcp_color {
  width:3.5em;
  padding:3px 15px 3px 3px;
  height:inherit;
  cursor:pointer;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size:inherit;
  outline:none;
  background-color:transparent;
  color:inherit;
}

.wcp_input {
  position:absolute;
  top:0;
  left:3.5em;
  right:0;
  bottom:0;
  padding:inherit;
  border:none;
  width: calc(100% - 3.5em);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size:inherit;
  outline:none;
  background-color:transparent;
  color:inherit;
}
