<div class="site">

  <!-- navbar -->
  <nav class="nav_color nav_shadow">
    <div class="row">
      <div class="nav_v_bars">
        <div class="nav_v_bar_color1"></div>
        <div class="nav_v_bar_color2"></div>
        <div class="nav_v_bar_color3"></div>
      </div>
      <div class="nav_logo_box" style="align-items: center">
<!--        <div class="nav_emedny"></div>-->
<!--        <div class="vr_light mar_right5" style="height:25px;"></div>-->
        <div class="nav_title_box">
          <div class="nav_title">Wily Angular Commons</div>
          <div class="nav_subtitle" style="opacity:0.8;">The coolest place</div>
        </div>
      </div>
    </div>
    <div class="center_right mar_right10">
      <div class="nav_name">Hello!</div>
<!--      <transcend-user-menu [inboxUrl]="environment.appManagement.inboxUrl" (logout)="doLogout()"></transcend-user-menu>-->
    </div>
  </nav>

  <!-- main content -->
  <div class="site-content" id="site-content">
    <main class="col size_1 position_relative" style="-ms-flex:1 0 auto;">
      <div class="row_block width100">
        <!-- HEADER -->
        <div class="row v_center min_h40 menu_color pad_5">
          <!-- left push button -->
          <button class="access btn_pulse xsm page_container_color" (click)="pushContainerLeft.toggle()">
            <i class="fas fa-bars"></i>
          </button>
          <!-- page description -->
          <div class="col size_1 text sm mar_5">
            You can mess with components made for the module here and make sure they work before package and release.
          </div>
          <!-- right push button -->
          <button class="access btn_pulse xsm page_container_color" (click)="pushContainerRight.toggle()">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <!-- CONTENT -->
        <div class="page_container page_container_color pad_10">
          <div class="row_block width100">

            <!-- DATE PICKER SECTION -->
            <div class="mar_10">
              <div class="header md mar_10 mar_bot5">
                <i class="fas fa-calendar-alt fa-sm mar_right10"></i>Date Picker
              </div>
              <div class="row wrap">
                <div class="col size_1 min_w250 mar_10">
                  <div class="row_block width100">
                    <div class="text sm paragraph">
                      The date picker is a component used to select a date. It includes validation on the input, and
                      a calendar so users can select a date through a more friendly interface.
                      <br/><br/>
                      The look of the calendar input can be customized to fit into any form, through custom classes.
                    </div>
                  </div>
                </div>
                <div class="col size_1 min_w250 mar_10">
                  <div class="row_block width100">
                    <wily-date-picker
                      [disabled]="false"
                      [inputClassList]="'form_input page_container_color'"
                      [calendarButtonClassList]="'overlay border_left brad_0'">
                    </wily-date-picker>
                  </div>
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>

            <!-- DIALOG SECTION -->
            <div class="mar_10">
              <div class="header md mar_10 mar_bot5">
                <i class="far fa-window-restore fa-sm mar_right10"></i>Dialog
              </div>
              <div class="row wrap">
                <div class="col size_2 min_w250 mar_10">
                  <div class="row_block width100">
                    <div class="text sm paragraph">
                      The dialog can be used to open a window over the page content to perform sub-functions or
                      display warnings or important information to the user.
                      <br/><br/>
                      The dialog is fully accessible and responsive, and supports features such as opening multiple
                      dialogs on top of each other, trapping focus and close on escape.
                    </div>
                  </div>
                </div>
                <div class="col size_1 top_center wrap min_w250 mar_10">
                  <button class="access btn md overlay_alt2 bg_blue_alt mar_5" (click)="obj2 = {}">
                    Preview Dialog
                  </button>
<!--                  <button class="access btn sm overlay mar_5" (click)="obj5 = {}">-->
<!--                    Open Nested Prime Dialog Parent-->
<!--                  </button>-->
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>

            <!-- DROPDOWN SECTION -->
            <div class="mar_10">
              <div class="header md mar_10 mar_bot5">
                <i class="fas fa-caret-square-down fa-sm mar_right10"></i>Dropdown
              </div>
              <div class="row wrap">
                <div class="col size_1 min_w250 mar_10">
                  <div class="row_block width100">
                    <div class="text sm paragraph">
                      The dropdown component is a customizable component based on the default HTML 'Select'.
                      It was made to behave similarly to the native select, and is fully accessible.
                      <br/><br/>
                      The look of the dropdown can be customized to fit into any form, through custom classes.
                    </div>
                  </div>
                </div>
                <div class="col size_1 min_w250 mar_10">
                  <div class="row_block width100">
                    <wily-dropdown [options]="[
                                   { value: 'value', label: 'label', dataContext: { 'colorClass': 'bg_red', 'placeholder': 'placeholder value' } },
                                   { value: 'value2', label: 'label2', disabled: true, dataContext: { 'placeholder': 'placeholder value 2' } },
                                   { value: 'value3', label: 'label3', dataContext: { 'placeholder': 'placeholder value 3' } },
                                   {
                                     groupLabel: 'This is a Group',
                                     options: [
                                       { value: 'value4', label: 'label4', dataContext: { 'placeholder': 'placeholder value 4' } },
                                       { value: 'value5', label: 'label5', dataContext: { 'placeholder': 'placeholder value 5' } },
                                       { value: 'value6', label: 'label6', dataContext: { 'placeholder': 'placeholder value 6' } }
                                     ]
                                   }
                                 ]"
                                   [classList]="'input md overlay_alt2 page_container_color'" [disabled]="false">
                      <ng-template let-colorClass="colorClass" let-placeholder="placeholder" let-label>
                        <div class="v_center">
                          <div class="circle_14px mar_right5" [ngClass]="colorClass"></div> {{placeholder}} {{label}}
                        </div>
                      </ng-template>
                    </wily-dropdown>
                  </div>
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>

            <!-- ICON SELECT SECTION -->
            <div class="mar_10">
              <div class="header md mar_10 mar_bot5">
                <i class="fas fa-hand-point-up fa-sm mar_right10"></i>Icon Select
              </div>
              <div class="row wrap">
                <div class="col size_2 min_w250 mar_10">
                  <div class="row_block width100">
                    <div class="text sm paragraph">
                      The icon select is a dialog that allows a user to choose an icon from a collection of fontawesome
                      and custom wily icons (shown below). The dialog supports filtering on icons.
                    </div>
                  </div>
                </div>
                <div class="col size_1 top_center wrap min_w250 mar_10">
                  <wily-icon-select (opened)="iconSelectOpened()"
                                    (closed)="iconSelectClosed()"
                                    (selected)="iconSelected($event)">
                  </wily-icon-select>
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>

            <!-- PAGINATOR SECTION -->
            <div class="mar_10">
              <div class="header md mar_10 mar_bot5">
                <i class="fas fa-arrow-circle-right fa-sm mar_right10"></i>Paginator
              </div>
              <div class="text sm paragraph mar_10">
                The paginator is a component that makes it easy to split data into multiple 'pages.' The paginator
                includes multiple versions with different looks and supported functions.
              </div>
              <div class="bg_everyodd">
                <!-- version 1 -->
                <div class="row wrap brad_3 pad_x5">
                  <div class="col size_1 mar_10">
                    <div class="text xlg bolder">Version 1</div>
                  </div>
                  <div class="col size_1 center_center mar_10">
                    <wily-paginator
                      version="1"
                      [totalLength]="100"
                      [pageSizeOptions]="[10,25,50]"
                      [pageSize]="10"
                    ></wily-paginator>
                  </div>
                </div>
                <!-- version 2 -->
                <div class="row wrap brad_3 pad_x5">
                  <div class="col size_1 mar_10">
                    <div class="text xlg bolder">Version 2</div>
                  </div>
                  <div class="col size_1 center_center mar_10">
                    <wily-paginator
                      version="2"
                      [totalLength]="200"
                      [pageSizeOptions]="[10,25,50]"
                      [pageSize]="25"
                    ></wily-paginator>
                  </div>
                </div>
                <!-- version 3 -->
                <div class="row wrap brad_3 pad_x5">
                  <div class="col size_1 mar_10">
                    <div class="text xlg bolder">Version 3</div>
                  </div>
                  <div class="col size_1 center_center mar_10">
                    <wily-paginator
                      version="3"
                      [totalLength]="30000"
                      [pageSizeOptions]="[10,25,50]"
                      [pageSize]="50"
                    ></wily-paginator>
                  </div>
                </div>
                <!-- version 4 -->
                <div class="row wrap brad_3 pad_x5">
                  <div class="col size_1 mar_10">
                    <div class="text xlg bolder">Version 4</div>
                  </div>
                  <div class="col size_1 center_center mar_10">
                    <wily-paginator
                      version="4"
                      [totalLength]="30000"
                      [pageSizeOptions]="[10,25,50]"
                      [pageSize]="50"
                    ></wily-paginator>
                  </div>
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>

            <!-- PROFILE PICTURE SECTION -->
            <div class="mar_10">
              <div class="row wrap">
                <div class="col size_2 min_w250 mar_10">
                  <div class="row_block width100">
                    <div class="header md mar_bot5">
                      <i class="fas fa-user-circle fa-sm mar_right10"></i>Profile Picture
                    </div>
                    <div class="text sm paragraph">
                      This component allows a user to set a profile picture. Check this guy out.
                    </div>
                  </div>
                </div>
                <div class="col size_1 top_center wrap min_w250 mar_10">
                  <wily-profile-pic
                    imageUrl="https://s3.amazonaws.com/transcend-project-management-files/public/5e5b8204-955f-4ccf-9c57-8efd02faa70c-1544366755611.jpeg"
                    toolTip="Some guy">
                  </wily-profile-pic>
                </div>
              </div>
            </div>

            <div class="overlay_alt2 hr mar_10 mar_y15"></div>


<!--            <div class="min_h300"></div>-->
            <!-- button toolbar -->
            <div class="row wrap pad_5 center_center brad_3 mar_5">
              <!-- icon select -->
              <div class="mar_5">

              </div>
            </div>
            <div class="row v_center pad_5 brad_3 mar_5">
              <!-- wily profile pic -->


            </div>

            <div class="row pad_3">
              <!-- paginators -->
              <div class="col size_1 overlay_alt2 brad_3 pad_5 mar_3">
                <div class="row_block width100">
                  <!-- version 1 -->

                  <!-- version 2 -->

                  <!-- version 3 -->
                  <div class="row mar_5">

                  </div>
                  <!-- version 4 -->
                  <div class="row mar_5">

                  </div>

                  <wily-endpoint-state
                    [loadingOverlay]="false"
                    [loading]="true"
                    [loadingOverlayText]="'Please wait while we get things ready for you'"
                    [loadingOverlaySubtext]="'This may take a few minutes...'"
                    [loadingIcon]="'bars_vertical'">
                  </wily-endpoint-state>
                </div>
              </div>

              <!-- rich text -->
              <div class="col size_1 overlay_alt2 brad_3 pad_5 mar_3">
                <div class="row_block width100">
                  <wily-rich-text [(ngModel)]="text" (textChanged)="handleEditorTextChange($event)">
                  </wily-rich-text>
                </div>
              </div>
            </div>

            <!-- icons -->
            <div class="row pad_3">
              <!-- light -->
              <div class="col size_1 overlay_alt2 brad_3 pad_5 mar_3">
                <div class="row_block width100 pad_10 brad_3">
                  <div class="header sm mar_bot15">Light Icons</div>

                  <div><i class="wil fa-address fa-2x fa-fw"></i> fa-address</div>
                  <div><i class="wil fa-alpha-text fa-2x fa-fw"></i> fa-alpha-text</div>
                  <div><i class="wil fa-checkbox fa-2x fa-fw"></i> fa-checkbox</div>
                  <div><i class="wil fa-date fa-2x fa-fw"></i> fa-date</div>
                  <div><i class="wil fa-date-range fa-2x fa-fw"></i> fa-date-range</div>
                  <div><i class="wil fa-document-upload fa-2x fa-fw"></i> fa-document-upload</div>
                  <div><i class="wil fa-dropdown fa-2x fa-fw"></i> fa-dropdown</div>
                  <div><i class="wil fa-email fa-2x fa-fw"></i> fa-email</div>
                  <div><i class="wil fa-fein fa-2x fa-fw"></i> fa-fein</div>
                  <div><i class="wil fa-html fa-2x fa-fw"></i> fa-html</div>
                  <div><i class="wil fa-license fa-2x fa-fw"></i> fa-license</div>
                  <div><i class="wil fa-mmis-npi fa-2x fa-fw"></i> fa-mmis-npi</div>
                  <div><i class="wil fa-money fa-2x fa-fw"></i> fa-money</div>
                  <div><i class="wil fa-multi-select fa-2x fa-fw"></i> fa-multi-select</div>
                  <div><i class="wil fa-npi fa-2x fa-fw"></i> fa-npi</div>
                  <div><i class="wil fa-numeric-text fa-2x fa-fw"></i> fa-numeric-text</div>
                  <div><i class="wil fa-person-name fa-2x fa-fw"></i> fa-person-name</div>
                  <div><i class="wil fa-phone fa-2x fa-fw"></i> fa-phone</div>
                  <div><i class="wil fa-pid fa-2x fa-fw"></i> fa-pid</div>
                  <div><i class="wil fa-radio-buttons fa-2x fa-fw"></i> fa-radio-buttons</div>
                  <div><i class="wil fa-ssn fa-2x fa-fw"></i> fa-ssn</div>
                  <div><i class="wil fa-text-area fa-2x fa-fw"></i> fa-text-area</div>
                  <div><i class="wil fa-text-box fa-2x fa-fw"></i> fa-text-box</div>
                </div>
              </div>
              <!-- regular -->
              <div class="col size_1 overlay_alt2 brad_3 pad_5 mar_3">
                <div class="row_block width100 pad_10 brad_3">
                  <div class="header sm mar_bot15">Regular Icons</div>

                  <div><i class="wir fa-address fa-2x fa-fw"></i> fa-address</div>
                  <div><i class="wir fa-alpha-text fa-2x fa-fw"></i> fa-alpha-text</div>
                  <div><i class="wir fa-checkbox fa-2x fa-fw"></i> fa-checkbox</div>
                  <div><i class="wir fa-date fa-2x fa-fw"></i> fa-date</div>
                  <div><i class="wir fa-date-range fa-2x fa-fw"></i> fa-date-range</div>
                  <div><i class="wir fa-document-upload fa-2x fa-fw"></i> fa-document-upload</div>
                  <div><i class="wir fa-dropdown fa-2x fa-fw"></i> fa-dropdown</div>
                  <div><i class="wir fa-email fa-2x fa-fw"></i> fa-email</div>
                  <div><i class="wir fa-fein fa-2x fa-fw"></i> fa-fein</div>
                  <div><i class="wir fa-html fa-2x fa-fw"></i> fa-html</div>
                  <div><i class="wir fa-license fa-2x fa-fw"></i> fa-license</div>
                  <div><i class="wir fa-mmis-npi fa-2x fa-fw"></i> fa-mmis-npi</div>
                  <div><i class="wir fa-money fa-2x fa-fw"></i> fa-money</div>
                  <div><i class="wir fa-multi-select fa-2x fa-fw"></i> fa-multi-select</div>
                  <div><i class="wir fa-npi fa-2x fa-fw"></i> fa-npi</div>
                  <div><i class="wir fa-numeric-text fa-2x fa-fw"></i> fa-numeric-text</div>
                  <div><i class="wir fa-person-name fa-2x fa-fw"></i> fa-person-name</div>
                  <div><i class="wir fa-phone fa-2x fa-fw"></i> fa-phone</div>
                  <div><i class="wir fa-pid fa-2x fa-fw"></i> fa-pid</div>
                  <div><i class="wir fa-radio-buttons fa-2x fa-fw"></i> fa-radio-buttons</div>
                  <div><i class="wir fa-ssn fa-2x fa-fw"></i> fa-ssn</div>
                  <div><i class="wir fa-text-area fa-2x fa-fw"></i> fa-text-area</div>
                  <div><i class="wir fa-text-box fa-2x fa-fw"></i> fa-text-box</div>
                </div>
              </div>
              <!-- solid -->
              <div class="col size_1 overlay_alt2 brad_3 pad_5 mar_3">
                <div class="row_block width100 pad_10 brad_3">
                  <div class="header sm mar_bot15">Solid Icons</div>

                  <div><i class="wis fa-address fa-2x fa-fw"></i> fa-address</div>
                  <div><i class="wis fa-alpha-text fa-2x fa-fw"></i> fa-alpha-text</div>
                  <div><i class="wis fa-checkbox fa-2x fa-fw"></i> fa-checkbox</div>
                  <div><i class="wis fa-date fa-2x fa-fw"></i> fa-date</div>
                  <div><i class="wis fa-date-range fa-2x fa-fw"></i> fa-date-range</div>
                  <div><i class="wis fa-divider fa-2x fa-fw"></i> fa-divider</div>
                  <div><i class="wis fa-document-upload fa-2x fa-fw"></i> fa-document-upload</div>
                  <div><i class="wis fa-dropdown fa-2x fa-fw"></i> fa-dropdown</div>
                  <div><i class="wis fa-email fa-2x fa-fw"></i> fa-email</div>
                  <div><i class="wis fa-existing-license fa-2x fa-fw"></i> fa-existing-license</div>
                  <div><i class="wis fa-fein fa-2x fa-fw"></i> fa-fein</div>
                  <div><i class="wis fa-group-pid fa-2x fa-fw"></i> fa-group-pid</div>
                  <div><i class="wis fa-html fa-2x fa-fw"></i> fa-html</div>
                  <div><i class="wis fa-icon-header fa-2x fa-fw"></i> fa-icon-header</div>
                  <div><i class="wis fa-lab-pid fa-2x fa-fw"></i> fa-lab-pid</div>
                  <div><i class="wis fa-license fa-2x fa-fw"></i> fa-license</div>
                  <div><i class="wis fa-mmis-npi fa-2x fa-fw"></i> fa-mmis-npi</div>
                  <div><i class="wis fa-money fa-2x fa-fw"></i> fa-money</div>
                  <div><i class="wis fa-multi-select fa-2x fa-fw"></i> fa-multi-select</div>
                  <div><i class="wis fa-npi fa-2x fa-fw"></i> fa-npi</div>
                  <div><i class="wis fa-numeric-text fa-2x fa-fw"></i> fa-numeric-text</div>
                  <div><i class="wis fa-person-name fa-2x fa-fw"></i> fa-person-name</div>
                  <div><i class="wis fa-pharmacy-pid fa-2x fa-fw"></i> fa-pharmacy-pid</div>
                  <div><i class="wis fa-phone fa-2x fa-fw"></i> fa-phone</div>
                  <div><i class="wis fa-physical-address fa-2x fa-fw"></i> fa-physical-address</div>
                  <div><i class="wis fa-physician-pid fa-2x fa-fw"></i> fa-physician-pid</div>
                  <div><i class="wis fa-pid fa-2x fa-fw"></i> fa-pid</div>
                  <div><i class="wis fa-radio-buttons fa-2x fa-fw"></i> fa-radio-buttons</div>
                  <div><i class="wis fa-ssn fa-2x fa-fw"></i> fa-ssn</div>
                  <div><i class="wis fa-sidebar-close fa-2x fa-fw"></i> fa-sidebar-close</div>
                  <div><i class="wis fa-sidebar-open fa-2x fa-fw"></i> fa-sidebar-open</div>
                  <div><i class="wis fa-text-area fa-2x fa-fw"></i> fa-text-area</div>
                  <div><i class="wis fa-text-box fa-2x fa-fw"></i> fa-text-box</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- DIALOG DEMONSTRATION -->
        <wily-dialog title="This thing" [object]="obj" (closed)="obj = null;" #dialog>
          <div class="center_center" style="font-size: 24pt;height: 100%;text-align: center;">
            <div>Here's some text dawg</div>
          </div>
        </wily-dialog>

        <wily-dialog title="Parent Dialog" [object]="obj2" (closed)="obj2 = null" [allowClose]="false" width="auto" height="auto">
          <button class="access" (click)="obj3 = {}">Open Child</button>
          <wily-dialog title="Child of Parent Dialog" [object]="obj3" (closed)="obj3 = null">
            <button class="access" (click)="obj4 = {}">Open Child</button>
            <wily-dialog title="Child of Child of Parent Dialog" [object]="obj4" (closed)="obj4 = null">
            </wily-dialog>
          </wily-dialog>
        </wily-dialog>

        <wily-dialog-legacy title="Parent Dialog Legacy" [object]="obj5" (closed)="obj5 = null" width="auto" height="auto">
          <button (click)="obj6 = {}">Open Child</button>
          <wily-dialog-legacy title="Child of Parent Dialog" [object]="obj6" (closed)="obj6 = null">
            <button (click)="obj7 = {}">Open Child</button>
            <wily-dialog-legacy title="Child of Child of Parent Dialog" [object]="obj7" (closed)="obj7 = null">
            </wily-dialog-legacy>
          </wily-dialog-legacy>
        </wily-dialog-legacy>

        <!-- LEFT PUSH CONTAINER -->
        <wily-push-container
          mainContentId="site-content"
          side="left"
          [width]="250"
          topOffset="40px"
          [closeOnResize]="true"
          [showSidePanel]="true"
          [hideCloseButton]="false"
          (closed)="onPushContainerClose()"
          #pushContainerLeft>
          <div class="menu_color min_h40 pad_10 pad_x15 text md bold v_center">
            Left Push Container
          </div>
          <div class="pad_10">
            <div class="row bottom_left mar_5" style="height:32px;">
              <div class="text md bolder">
                This is a push container
              </div>
            </div>
            <div class="overlay_alt2 hr mar_y15 mar_x5"></div>
            <!-- informational text -->
            <div class="mar_5 mar_y10 pad_bot5">
              <div class="text sm paragraph">
                The push container is a sidebar container that pushes the contents of the page over while it's opened.
                It can be toggled to open or close, and the width and background color can be configured.
                <br/><br/>
                Try it now by clicking the toggle button at the top of the page, to the right of this sidebar.
              </div>
            </div>
          </div>
        </wily-push-container>

        <!-- RIGHT PUSH CONTAINER -->
        <wily-push-container
          mainContentId="site-content"
          side="right"
          topOffset="40px"
          [showSidePanel]='false'
          [width]="300"
          [breakpoint]="980"
          #pushContainerRight>
          <div>
            RIGHT PUSH
          </div>
        </wily-push-container>
      </div>
    </main>
  </div>



</div>
