/* make component (input) 100% width */
:host {
  width:100%;
}

/******* DROPDOWN INPUT STYLING ********/

/* input container styles */
.wily_dropdown {
  width:100%;
  min-width:150px;
  position: relative;
}
.wily_dropdown::after {
  content:"mm/dd/yyyy";
  opacity:0;
  pointer-events:none;
}

/* dropdown button style */
.wily_dropdown_input {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:inherit;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size:inherit;
  outline:none;
  border:none;
  text-align:left;
  user-select:none;
  background-color:transparent;
  color:inherit;
  margin:0;
}
.wily_dropdown_input:not([disabled]) {
  cursor:pointer;
}
.wily_dropdown_input::-ms-expand {
  display: none;
}
.wily_dropdown_caret {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 2;
  background: transparent;
  pointer-events:none;
}
.wily_dropdown_placeholder {
  opacity:0.5;
}


/******* LIST PANEL STYLING ********/

.wily_dropdown_overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1000;
}

/* options panel */
.wily_dropdown_options {
  border-radius: 3px;
  line-height: 1.5;
  overflow:hidden;
  /*margin: 5px 0 0 1px;*/
  /*padding: 0;*/
  list-style-type: none;
  font-weight: normal;
  /*cursor: pointer;*/
  z-index: 4;
  /*position: absolute;*/
  max-height:250px;
  width:100%;
  overflow-y:auto;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* heading for groups */
.wily_dropdown_heading {
  font-size:12px;
  font-weight:600;
  opacity:0.8;
  padding: 10px 12px 4px 12px;
}

.wily_dropdown_list {
  padding:0;
  margin:0;
  outline:none;
}

.wily_dropdown_option {
  font-size:13px;
  padding: 7px 12px;
  cursor:pointer;
  border:none;
  width:100%;
  text-align:left;
  display:flex;
  align-items:center;
  transition:0.2s background-color ease;
}

/* option hover/focus state */
.wily_dropdown_option.unselected:not(:focus) {
  background:none;
  color:inherit;
}

.wily_dropdown_option[disabled] {
  cursor:default;
}

@media screen and (max-width: 768px) {
  .wily_dropdown_overlay {
    background: rgba(120, 120, 120, 0.4);
  }
}
