<div #dropdown class="wily_dropdown"
     [ngClass]="classList ? classList : 'input md overlay_alt2 page_container_color'">
  <button (click)="openDropdown($event)"
          [attr.aria-label]="ariaLabel"
          class="access page_container_color wily_dropdown_input">
    <!-- TODO: show this when no option selected -->
    <div class="wily_dropdown_placeholder">{{placeholder}}</div>
    <!-- TODO: show when option selected -->
    <div *ngIf="false">Option Text</div>
  </button>
  <div class="wily_dropdown_caret">
    <i class="fas fa-caret-down"></i>
  </div>
</div>

<div [style.display]="opened ? '' : 'none'"
     [attr.aria-hidden]="opened"
     class="wily_dropdown_overlay">
  <div #dropdownList class="position_absolute">
    <div class="wily_dropdown_options page_container_color card_shadow">
      <!-- TODO: make this option, insert ng-content inside in place of text -->
      <ng-container *ngIf="_options | async as options">
        <ng-container *ngIf="!!template else defaultOptionTemplate">
          <ng-container *ngFor="let option of options">
            <!-- OPTION GROUP -->
            <ng-container *ngIf="!!option.groupLabel && !!option.options else nonGroupOption">
              <ng-container *ngFor="let groupOption of option.options">
                <ng-container *ngTemplateOutlet="template; context: groupOption.dataContext">
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-template #nonGroupOption>
              <ng-container *ngTemplateOutlet="template; context: option.dataContext">
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #defaultOptionTemplate>
          <ng-container *ngFor="let option of options">
            <!-- OPTION GROUP -->
            <ng-container *ngIf="!!option.groupLabel && !!option.options else nonGroupOption">
              <div>{{option.groupLabel}}</div>
              <div *ngFor="let groupOption of option.options">
                {{groupOption.label}}
              </div>
            </ng-container>
            <ng-template #nonGroupOption>
              <div>{{option.label}}</div>
            </ng-template>
          </ng-container>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<ng-content select="template"></ng-content>
