<p-dialog [(visible)]="object" [modal]="true" [focusOnShow]="false" #dialog [resizable]="false" [responsive]="true"
          appendTo="body" [breakpoint]="1000" [header]="title" [blockScroll]="true"
          [style]="getStyle()">

  <div class="wac_dialog_container">
    <div class="wac_dialog_header space_between wrap v_center" style="flex: 0 1 auto;" [ngClass]="titleClass">
      <div role="heading" aria-level="2" class="wac_dialog_header_title">{{title}}</div>
      <button class="btn_pulse sm" [pTooltip]="'Close'" tooltipPosition="left" (click)="close()" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="wac_dialog_content" [ngClass]="bodyClass">
      <ng-content></ng-content>
    </div>
  </div>

</p-dialog>
