<p-dialog [(visible)]="object"
          [modal]="true"
          [focusOnShow]="true"
          [focusTrap]="true"
          [resizable]="false"
          [responsive]="true"
          [breakpoint]="1000"
          [header]="title"
          [blockScroll]="true"
          [closeOnEscape]="true"
          [style]="getStyle()"
          appendTo="body"
          #dialog>
  <div class="wac_dialog_container">
    <!-- title bar -->
    <div class="wac_dialog_header space_between wrap v_center" style="flex: 0 1 auto;" [ngClass]="titleClass">
      <div class="wac_dialog_header_title">{{title}}</div>
      <button class="access btn_pulse sm" (click)="close()" aria-label="Close Dialog">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <!-- contents -->
    <div class="wac_dialog_content scroll_yauto" [ngClass]="bodyClass">
      <ng-content></ng-content>
    </div>
  </div>
</p-dialog>
