/****** BARS_BOUNCE ******/
.bars_bounce {
  height:50px;
  width:120px;
  display:flex;
  align-items:flex-end;
  justify-content:center;
}
.bars_bounce .bar1,
.bars_bounce .bar2,
.bars_bounce .bar3,
.bars_bounce .bar4 {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction:alternate;
  transform-origin:bottom center;
  margin:0 5px;
}
.bars_bounce .bar1 {
  animation-name: bars_bounce_grow;
  animation-delay:0.15s;
}
.bars_bounce .bar2 {
  animation-name: bars_bounce_grow;
  animation-delay:0.3s;
}
.bars_bounce .bar3 {
  animation-name: bars_bounce_grow;
  animation-delay:0.45s;
}
.bars_bounce .bar4 {
  animation-name: bars_bounce_grow;
  animation-delay:0.6s;
}
@keyframes bars_bounce_grow {
  from {
    transform:scaleY(1);
  }
  to {
    transform: scaleY(10);
  }
}

/****** BARS_VERTICAL ******/
.bars_vertical {
  height:50px;
  width:120px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.bars_vertical .bar1,
.bars_vertical .bar2,
.bars_vertical .bar3,
.bars_vertical .bar4 {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  transform-origin:center center;
  margin:0 5px;
}
.bars_vertical .bar1 {
  animation-name: bars_vertical_grow;
  animation-delay:0.2s;
  height:12px;
}
.bars_vertical .bar2 {
  animation-name: bars_vertical_grow;
  animation-delay:0.4s;
  height:16px;
}
.bars_vertical .bar3 {
  animation-name: bars_vertical_grow;
  animation-delay:0.6s;
  height:16px;
}
.bars_vertical .bar4 {
  animation-name: bars_vertical_grow;
  animation-delay:0.8s;
  height:12px;
}
@keyframes bars_vertical_grow {
  from {
    transform:scaleY(1);
  }
  to {
    transform: scaleY(3.3);
  }
}

/****** BARS_PROGRESS ******/
.bars_progress {
  width:175px;
}
.bars_progress .bar1,
.bars_progress .bar2,
.bars_progress .bar3,
.bars_progress .bar4 {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin:left center;
  animation-duration: 1.25s;
  animation-name: bars_progress_grow;
  transform:scaleX(0);
}
.bars_progress .bar1 {
  animation-delay:0s;
}
.bars_progress .bar2 {
  animation-delay:0.2s;
}
.bars_progress .bar3 {
  animation-delay:0.4s;
}
.bars_progress .bar4 {
  animation-delay:0.6s;
}
@keyframes bars_progress_grow {
  0% {
    transform:scaleX(0);
    opacity:1;
  }
  16% {
    transform:scaleX(1);
    opacity:1;
  }
  100% {
    transform:scaleX(1);
    opacity:0;
  }
}

/*!* bars2 animations *!*/
/*.bars2_1, .bars2_2, .bars2_3, .bars2_4 {*/
/*  animation-iteration-count: infinite;*/
/*  animation-timing-function: ease-in-out;*/
/*  transform-origin:left center;*/
/*  animation-duration: 1s;*/
/*  animation-name: bars2_grow;*/
/*  transform:scaleX(0);*/
/*}*/
/*.bars2_1 {*/
/*  animation-delay:0s;*/
/*}*/
/*.bars2_2 {*/
/*  animation-delay:0.25s;*/
/*}*/
/*.bars2_3 {*/
/*  animation-delay:0.5s;*/
/*}*/
/*.bars2_4 {*/
/*  animation-delay:0.75s;*/
/*}*/
/*@keyframes bars2_grow {*/
/*  0% {*/
/*    transform:scaleX(0) scaleY(0.5);*/
/*    opacity:1;*/
/*  }*/
/*  25% {*/
/*    transform:scaleX(1) scaleY(3);*/
/*    opacity:1;*/
/*  }*/
/*  100% {*/
/*    transform:scaleX(1) scaleY(0.5);*/
/*    opacity:0;*/
/*  }*/
/*}*/

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100; /* Specify a stack order in case you're using a different order for other elements */
  animation: fadein 0.3s ease-in-out;
  /*opacity:0.5;*/
  background-color:rgba(120,120,120,0.4);
  /*backdrop-filter: blur(5px);*/
}
#spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 64px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  animation: fadein 0.3s ease-in-out;
  z-index:1101;
}

@keyframes fadein {
  from { opacity:0; }
  to   { opacity:0.5; }
}
