<!-- choose button -->
<!-- TODO: add icon name to tooltip -->
<button *ngIf="!showDialog"
        [ngClass]="buttonColorClass"
        [ngStyle]="{
                     'width': buttonSizing,
                     'min-width': buttonSizing,
                     'height': buttonSizing,
                     'min-height': buttonSizing
                   }"
        (click)="openDialog()"
        class="access wis_button"
        aria-label="Choose Icon">
  <!-- TODO: insert selected icon -->
  <i class="fas fa-car"></i>
</button>

<!-- picker dialog -->
<wily-dialog [title]="'Select an Icon'"
  [object]="showDialog"
  [width]="'800px'"
  [height]="'500px'"
  (closed)="closeDialog()">
    <div class="row height100">
      <!-- FILTERS -->
      <div class="col min_w250 overlay_alt2 border_right">
        <div class="row_block width100">
          <!-- all icons -->
          <div class="mar_5 pad_5">
            <button
                    class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
              <div class="text md">All Icons</div>
              <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
            </button>
          </div>
          <div class="overlay_alt2 hr mar_10"></div>
          <!-- fontawesome icons -->
          <div *ngIf="_fontawesomeFilter | async as fontawesomeFilter" class="mar_5">
            <div class="text sm bolder" style="padding:10px 10px 5px 15px;">Font Awesome Icons</div>
            <div class="mar_5">
              <button (click)="_fontawesomeFilter.next('all')"
                      [ngClass]="{ 'hov_bg': fontawesomeFilter !== 'all' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">All</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_fontawesomeFilter.next('solid')"
                      [ngClass]="{ 'hov_bg': fontawesomeFilter !== 'solid' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Solid</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_fontawesomeFilter.next('regular')"
                      [ngClass]="{ 'hov_bg': fontawesomeFilter !== 'regular' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Regular</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_fontawesomeFilter.next('brands')"
                      [ngClass]="{ 'hov_bg': fontawesomeFilter !== 'brands' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Brands</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
          </div>
          <div class="overlay_alt2 hr mar_10"></div>
          <!-- custom icons -->
          <div *ngIf="_wilyFilter | async as wilyFilter" class="mar_5">
            <div class="text sm bolder" style="padding:10px 10px 5px 15px;">Custom Icons</div>
            <div class="mar_5">
              <button (click)="_wilyFilter.next('all')"
                      [ngClass]="{ 'hov_bg': wilyFilter !== 'all' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">All</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_wilyFilter.next('solid')"
                      [ngClass]="{ 'hov_bg': wilyFilter !== 'solid' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Solid</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_wilyFilter.next('regular')"
                      [ngClass]="{ 'hov_bg': wilyFilter !== 'regular' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Regular</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="mar_5">
              <button (click)="_wilyFilter.next('light')"
                      [ngClass]="{ 'hov_bg': wilyFilter !== 'light' }"
                      class="access list_btn width100 row space_between pad_y5 pad_x10 brad_3">
                <div class="text md">Light</div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- ICONS -->
      <div class="col size_2 column">
        <div class="col dialog_body_color_dark_1 pad_x5">
          <!-- paginator -->
          <div class="col v_center mar_10">
            <button *ngIf="canPaginatePrevious$ | async else disabledPreviousButton"
                    (click)="paginatePrevious()"
                    class="access btn square_24px overlay_alt2 bg_blue_alt"
                    aria-label="Previous Page">
              <span class="icon slide_left"><i class="fas fa-arrow-left"></i></span>
            </button>
            <ng-template #disabledPreviousButton>
              <button disabled class="access btn square_24px overlay_alt2 bg_blue_alt"
                      aria-label="Previous Page">
                <span class="icon slide_left"><i class="fas fa-arrow-left"></i></span>
              </button>
            </ng-template>
            <div *ngIf="totalPages$ | async as totalPages"
                 class="text sm bolder center"
                 style="min-width:65px;">
              {{(_activePage | async) + 1}} / {{totalPages}}
            </div>
            <button *ngIf="canPaginateNext$ | async else disabledNextButton"
                    (click)="paginateNext()"
                    class="access btn square_24px overlay_alt2 bg_blue_alt"
                    aria-label="Next Page">
              <span class="icon slide_right"><i class="fas fa-arrow-right"></i></span>
            </button>
            <ng-template #disabledNextButton>
              <button disabled class="access btn square_24px overlay_alt2 bg_blue_alt"
                      aria-label="Next Page">
                <span class="icon slide_right"><i class="fas fa-arrow-right"></i></span>
              </button>
            </ng-template>
          </div>
          <!-- search -->
          <div class="col size_1 wis_search mar_10">
            <input class="access input md overlay_alt2 page_container_color"
                   aria-label="Search icons" placeholder="Search icons..." />
            <button class="access btn square_28px overlay_alt2 bg_blue_alt brad_3 wis_search_btn"
                    aria-label="Submit Search" type="submit">
              <span class="icon grow"><i class="fas fa-search fa-sm"></i></span>
            </button>
            <button *ngIf="canSearch$ | async"
                    (click)="_searchText.next('')"
                    class="access btn circle_18px overlay wis_clear_btn">
              <span class="icon grow"><i class="fas fa-times fa-sm"></i></span>
            </button>
          </div>
        </div>
        <div class="color_bar">
          <div class="color_stripes">
            <div class="bg_blue_light_3"></div>
            <div class="bg_purple_light_3"></div>
            <div class="bg_yellow_light_8"></div>
            <div class="bg_red_light_3"></div>
          </div>
        </div>
        <!-- icons -->
        <div class="col size_1 top_left scroll_y pad_5">
          <div class="row wrap top_left">
            <ng-container *ngIf="paginatedIcons$ | async as icons else noResults">
              <ng-container *ngFor="let icon of paginatedIcons$ | async">
                <div class="col size_1 column center_center min_w75 mar_x5 mar_y10">
                  <!-- TODO: replace "overlay hov_bg" with "bg_blue" when selected -->
                  <button class="access wis_icon_btn square_50px brad_3 overlay_alt2 overlay hov_bg mar_bot5"
                          [attr.aria-label]="'Select ' + icon.name">
                    <i class="{{icon.prefix}} {{icon.name}}"></i>
                  </button>
                  <div class="text sm center faded">{{icon.name}}</div>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #noResults>
              No Results
            </ng-template>
          </div>
        </div>
        <!-- TODO: only show this when an icon is selected -->
        <div class="col space_between overlay_alt2 border_top pad_x5"
             style="box-shadow: 0 -6px 10px -8px rgba(0,0,0,0.25);">
          <div class="col v_center text md mar_10">
            <span class="text bold mar_right10">Selected:</span>
            <i class="fas fa-egg fa-fw mar_right5" style="font-size:16px;"></i>
            fas fa-egg
          </div>
          <div class="col mar_10">
            <button class="access btn md icon_right overlay_alt2 bg_green_alt">
              Confirm<span class="icon grow"><i class="fas fa-check"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>

<!--  <div class="row column height100 page_container_color_dark_1">-->
<!--    &lt;!&ndash; inputs &ndash;&gt;-->
<!--    <div class="col v_center pad_5 page_container_color">-->
<!--      <div class="col size_1 mar_3">-->
<!--        <input class="access fullwidth_input overlay_alt2 page_container_color mar_right5"-->
<!--               type="text" aria-label="Filter Icons" (keyup.enter)="filterClasses()"-->
<!--               [(ngModel)]="filter" placeholder="Filter Icons..." />-->
<!--      </div>-->
<!--      <div class="col" style="padding-right:8px;">-->
<!--        <button class="access btn md icon_right overlay_alt2 bg_blue_alt mar_3"-->
<!--                wilyTooltip="Filter" aria-label="Filter" (click)="filterClasses()">-->
<!--          Submit-->
<!--          <span class="icon grow"><i class="fas fa-search"></i></span>-->
<!--        </button>-->
<!--        <button class="access btn md icon_right overlay mar_3"-->
<!--                wilyTooltip="Clear" aria-label="Clear" (click)="clear()">-->
<!--          Clear-->
<!--          <span class="icon grow"><i class="fas fa-undo-alt"></i></span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col" style="background-color:rgba(0,0,0,.3); height:3px;">-->
<!--      <div class="col size_1"></div>-->
<!--      <div class="col size_1 bg_blue"></div>-->
<!--      <div class="col size_1 bg_purple"></div>-->
<!--      <div class="col size_1 bg_yellow"></div>-->
<!--      <div class="col size_1 bg_red"></div>-->
<!--      <div class="col size_8"></div>-->
<!--    </div>-->
<!--    &lt;!&ndash; icons list &ndash;&gt;-->
<!--    <div class="row scroll_y">-->
<!--      <div class="row_block width100">-->
<!--        <div class="row wrap pad_5">-->
<!--          <button *ngFor="let faClass of getValues()"-->
<!--                  class="access btn brad_3 mar_3 center_center overlay_alt2"-->
<!--                  style="width:60px; height:60px;"-->
<!--                  [ngClass]="faClass === hoveredClass ? 'page_container_color' : 'page_container_color_dark_1'"-->
<!--                  (mouseover)="hoveredClass = faClass"-->
<!--                  (mouseout)="hoveredClass = null"-->
<!--                  (click)="choose(faClass.toString())"-->
<!--                  wilyTooltip="{{faClass}}" tooltipPosition="bottom"-->
<!--                  [style.display]="icons[faClass.toString()] ? 'flex' : 'none'"-->
<!--                  [attr.aria-hidden]="!icons[faClass.toString()]"-->
<!--                  [attr.aria-label]="'Choose ' + faClass">-->
<!--            <i [ngClass]="faClass.toString()" style="font-size:32px;"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</wily-dialog>
