/* BUTTON STYLES */
.wis_button {
  width:40px;
  min-width:40px;
  height:40px;
  min-height:40px;
  cursor:pointer;
  transition:all 0.1s ease;
}
.wis_button:disabled {
  cursor:default;
  opacity:1 !important; /* override normal disabled effect */
}
.wis_button:hover:not(:disabled) {
  filter:brightness(1.05);
}
.wis_button svg {
  transition:transform 0.1s ease;
}
.wis_button:hover:not(:disabled) .wis_icon {
  transform:scale(1.15);
}

/* only set if NOT IE */
@supports not (-ms-high-contrast:none) {
  .wis_button svg {
    width:75%;
    height:75%;
  }
}

/* SEARCH BAR STYLES */
.wis_search {
  position:relative;
}
.wis_search input {
  padding-right:40px !important;
}
.wis_search .wis_search_btn {
  position:absolute;
  right:0;
  top:0;
  z-index:1;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  height:100%;
  width:32px;
}
.wis_search .wis_clear_btn {
  position:absolute;
  right:40px;
  top:7px;
  z-index:1;
}

.wis_filter_btn {
  width:100%;
  padding:5px 10px;
  border-radius:3px;
}
.wis_filter_btn:not(:hover):not(.selected) {
  background-color:inherit;
  color:inherit;
}

/* ICON GRID STYLES */
.wis_icon_btn {
  cursor:pointer;
  transition:all 0.1s ease;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  /*justify-content:center;*/
  border:none;
  border-radius:3px;
  padding:5px 2px;
  background-color:inherit;
  color:inherit;
}
.wis_icon_btn:hover {
  background-color:rgba(120,120,120,0.1);
}
.wis_icon_btn_preview {
  transition:all 0.1s ease;
}

.wis_selection_bar {
  z-index:2;
  box-shadow: 0 -6px 10px -8px rgba(0,0,0,0.25);
  animation-name: slideUpSelectionBar;
  animation-duration: 0.2s;
  transform-origin:bottom center;
}
@keyframes slideUpSelectionBar {
  0%   {
    transform:scaleY(0);
    opacity:0;
  }
  100% {
    transform:scaleY(1);
    opacity:1;
  }
}
