<div class="layout_sidebar"
  [ngClass]="getSidePanelClass()"
  [style.top]="topOffset"
  [ngStyle]="{'height': 'calc(100% - ' + topOffset + ')'}"
  [style.width]="(breakpointExceeded && showSidePanel) ? '100%' : width + 'px'"
  [style.left]="getLeftProperty()"
  [style.right]="getRightProperty()"
  [style.visibility]="visibility ? 'visible' : 'hidden'">
  <div class="push_close_bar" *ngIf="(alwaysShowClose || breakpointExceeded) && !hideCloseButton">
    <button (click)="close()" class="data_hide_button access" tabindex="0"
            [attr.aria-label]="'Close ' + side + ' sidebar'">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <ng-content></ng-content>
</div>
