<div class="layout_sidebar" 
  [ngClass]="getSidePanelClass()"
  [style.top]="topOffset"
  [style.direction]="side.toLowerCase() === 'left' ? 'ltr' : 'rtl'"
  [style.width]="getWidth()"
  [style.left]="getLeftProperty()"
  [style.right]="getRightProperty()"
  [style.visibility]="visibility ? 'visible' : 'hidden'">
  <div class="push_close_bar">
    <button (click)="close()" class="data_hide_button access" tabindex="0" aria-label="Close"  [style.marginRight]="side.toLowerCase() === 'left' ? '19px' : '2px'">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div style="height:30px;"></div>

  <div [style.direction]="side.toLowerCase() === 'right' ? 'ltr' : ''">
    <ng-content></ng-content>
  </div>

  <div style="height:10px;"></div>
</div>
