.layout_sidebar {
  position: fixed;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

.push_close_bar {
  position: absolute;
  right:0;
  top:0;
  width:45px;
  height:45px;
  z-index: 999;
  display:flex;
  justify-content:center;
  align-items:center;
}

.layout_sidebar_inactive_left {
  transition: left 0.2s ease-in-out;
}

.layout_sidebar_active_left {
  transition: left 0.2s ease-in-out;
}

.layout_sidebar_inactive_right {
  transition: right 0.2s ease-in-out;
}

.layout_sidebar_active_right {
  transition: right 0.2s ease-in-out;
}

.side_panel_push {
  margin-left: 230px;
  float: left;
  position: relative;
}

.side_panel_push_inactive {
  display: none;
}

.data_hide_button {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9pt;
  min-height: 20px;
  height: 20px;
  min-width: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding:0;
  transition: all .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.data_hide_button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1)
}
