<!-- date picker input -->
<div class="wily_datepicker" style="font-size:14px;">
  <input type="text" placeholder="mm/dd/yyyy" aria-label="Enter a date in the format mm/dd/yyyy"
         class="access page_container_color wily_datepicker_input" />
  <button class="access btn wily_datepicker_button overlay_alt2 bg_blue_alt"
          aria-label="Open the calendar to select a date instead">
    <span class="icon grow"><i class="fas fa-calendar-day"></i></span>
  </button>
</div>

<!-- calendar widget -->
<div class="wily_datepicker_overlay">
  <div class="wily_datepicker_options card_shadow">
    <!-- title / save -->
    <!-- <div class="row v_center">
      <div class="text sm faded mar_5">Please select a date</div>
    </div> -->
    <!-- month / year select -->
    <div class="dialog_header_color pad_5">
      <!-- <div class="text sm center mar_5 mar_bot0">Please select a year, month, and day</div> -->
      <div class="row space_between">
        <div class="col size_1 mar_5">
          <select class="access input sm page_container_color border_none" aria-label="Select a year">
            <option>2020</option>
          </select>
        </div>
        <div class="col size_2 mar_5">
          <select class="access input sm page_container_color border_none" aria-label="Select a month">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
          </select>
        </div>
      </div>
    </div>
    <div class="page_container_color pad_5">
      <!-- <div class="overlay_alt2 hr mar_5"></div> -->
      <!-- weekdays -->
      <div class="mar_5 mar_bot10">
        <div class="row wrap space_between body_color brad_3 mar_bot5">
          <div class="wily_datepicker_weekday">Su</div>
          <div class="wily_datepicker_weekday">Mo</div>
          <div class="wily_datepicker_weekday">Tu</div>
          <div class="wily_datepicker_weekday">We</div>
          <div class="wily_datepicker_weekday">Th</div>
          <div class="wily_datepicker_weekday">Fr</div>
          <div class="wily_datepicker_weekday">Sa</div>
        </div>
        <!-- days -->
        <div class="row wrap space_between">
          <ng-container *ngFor="let dayInMonth of fullMonth">
            <ng-container *ngIf="dayInMonth.selectable else disabledDate">
              <button [ngClass]="{'today': (dayInMonth.date === currentDate.date && dayInMonth.month === currentDate.month && dayInMonth.year === currentDate.year)}"
                      class="access wily_datepicker_day overlay_alt1 hov_bg"
                      [attr.aria-label]="'Select ' + weekDays[dayInMonth.day] + ' the ' + (dayInMonth.date | ordinalNumber)">
                {{dayInMonth.date}}
              </button>
            </ng-container>
            <ng-template #disabledDate>
              <div [ngClass]="{'today': (dayInMonth.date === currentDate.date && dayInMonth.month === currentDate.month && dayInMonth.year === currentDate.year)}"
                   class="wily_datepicker_day disabled">
                {{dayInMonth.date}}
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <div class="overlay_alt2 hr mar_5"></div>
      <div class="row space_between">
        <!-- TODO: hide if current day is out of range, disable if today already selected -->
        <button class="access btn sm overlay_alt1 hov_bg mar_5" aria-label="Reset date selection to today's date">
          <span class="text bold">Select Today</span>
        </button>
        <button class="access btn sm overlay_alt2 bg_green_alt mar_5 hov_glow" aria-label="Save date selection">
          <i class="fas fa-check mar_right5"></i><span class="text bold">Done</span>
        </button>
      </div>
    </div>
  </div>
</div>
