<!-- date picker input -->
<div class="wily_datepicker" style="font-size:14px;">
  <input type="text" placeholder="mm/dd/yyyy" aria-label="Enter a date in the format mm/dd/yyyy"
         class="access page_container_color wily_datepicker_input" />
  <button class="access btn wily_datepicker_button overlay_alt2 bg_blue_alt"
          aria-label="Open the calendar to select a date instead">
    <span class="icon grow"><i class="fas fa-calendar-day"></i></span>
  </button>
</div>

<!-- calendar widget -->
<wily-calendar></wily-calendar>
