<p-dialog [(visible)]="object"
          [modal]="true"
          [focusOnShow]="true"
          [focusTrap]="true"
          [resizable]="false"
          [breakpoint]="1000"
          [header]="title"
          [blockScroll]="true"
          [closeOnEscape]="false"
          [style]="getStyle()"
          appendTo="body"
          #dialog>
  <div class="wac_dialog_container">
    <!-- title bar -->
    <div class="wac_dialog_header space_between v_center" [ngClass]="titleClass">
      <div class="wac_dialog_header_title">{{title}}</div>
      <button class="access btn_pulse sm" (click)="close()" aria-label="Close Dialog">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <!-- contents -->
    <!-- ADD scroll_yauto TO FIX SCROLLBAR OFF SCREEN/ FIX HEADER -->
    <div class="wac_dialog_content" [ngClass]="bodyClass">
      <ng-content></ng-content>
    </div>
  </div>
</p-dialog>
